In [1]:
from Phys340PyPackages.main import (
    clau_clap_eqn,
    kelvin_eqn,
    dewpoint_temp,
)

from Phys340PyPackages.myData import (
    read_exoplanetA,
    read_num_densities
)

# Phys 340 Calculator

use `?` after a function name to see what they do.<br>
Example: `kelvin_eqn?`

In [2]:
data = read_exoplanetA()

In [3]:
data

,pressure,temperature,air_density,zonal_wind,merid_wind,N2,CO,O2,H2,Ar,H2O
0,70000.000,295.00,0.60473,0.000,0.000,6.376231e+24,5.100985e+24,5.579200e+23,2.856552e+24,1.249740e+23,3.878200e+23
1,69962.900,294.95,0.60451,0.001,0.008,6.373896e+24,5.099116e+24,5.577160e+23,2.855505e+24,1.249280e+23,3.876780e+23
2,69925.900,294.90,0.60429,0.002,0.016,6.371561e+24,5.097248e+24,5.575120e+23,2.854459e+24,1.248830e+23,3.875360e+23
3,69888.800,294.86,0.60407,0.004,0.024,6.369226e+24,5.095381e+24,5.573070e+23,2.853413e+24,1.248370e+23,3.873940e+23
4,69851.800,294.81,0.60385,0.005,0.032,6.366892e+24,5.093514e+24,5.571030e+23,2.852368e+24,1.247910e+23,3.872520e+23
...,...,...,...,...,...,...,...,...,...,...,...
7996,554.520,238.40,0.00327,0.797,0.001,3.153500e+22,2.522800e+22,2.155000e+21,7.040300e+22,2.950000e+20,0.000000e+00
7997,554.319,238.40,0.00326,0.797,0.001,3.150700e+22,2.520600e+22,2.153000e+21,7.039800e+22,2.940000e+20,0.000000e+00
7998,554.119,238.40,0.00326,0.796,0.001,3.148000e+22,2.518400e+22,2.151000e+21,7.039400e+22,2.940000e+20,0.000000e+00
7999,553.919,238.40,0.00326,0.796,0.001,3.145300e+22,2.516200e+22,2.149000e+21,7.038900e+22,2.930000e+20,0.000000e+00
8000,553.720,238.40,0.00326,0.796,0.001,3.142500e+22,2.514000e+22,2.147000e+21,7.038500e+22,2.930000e+20,0.000000e+00

In [4]:
clau_clap_eqn(278)

8.66560919903693

In [5]:
import os

In [6]:
os.getcwd()

'c:\\Users\\Thomas\\OneDrive\\University\\Physics\\Phys 340\\Data'